<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>What The Targaryen</title>
</head>

<body>
  <h1>What The Targaryen</h1>
  <p>Game of Thrones spelling challenge</p>
  {{#profile}}
  <h2>{{name}}</h2>
  {{/profile}}
</body>

</html>
